body{background-image: url(light\ wallaper.jpeg);
      
      
    padding: 0%;
    background-position:content;
    background-repeat: repeat-y;
    background-repeat: ;
    background-size: 96%;


}





img{
    align-items: center;
    align-content: center;
}

img {
    padding: 0%;
    margin-left: 40%;
    margin-top: 02%;
    margin-right: auto;
    border: 5px solid lightcyan;
}
h1,h2,h3,h4{ text-align: center;
    color: aliceblue;
    border: solid 2px white;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-duration:4s ;
    animation-delay: -2s;

    
    
}
svg{
    color: #ff0099;
 
}
#firstpera{
    color:#33a7ff;
}

















